<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthCare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/HealthCare.styles.css" asp-append-version="true" /> *@

    <!--Added-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</head>

<body id="body-pd">

    <!--Top Nav bar-->
    <div>
        <partial name="~/Views/Shared/_Navbar.cshtml" />
    </div>

    <!--Side bar-->
    <div>
        <partial name="~/Views/Shared/_Sidebar.cshtml" />
    </div>

    <!--Render Body-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

  @*   <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HealthCare - <a asp-area="" asp-controller="Privacy" asp-action="Index">Privacy</a>
        </div>
    </footer> *@

    <!--Bottom Navbar-->
    <!--JQuery-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!--Bootstrap-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--JavaScript-->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--JavaScript Added-->
    <script src="~/js/sidebar.js"></script>

    <!--CSS Added-->
    <link rel="stylesheet" href="~/css/sidebar.css" />

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>