<header style="padding-top:70px;" id="header">

    <nav class="navbar navbar-expand navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ps-10 fixed-top">
        <div class="container-fluid">

            <!--Toggler-->
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>

            <!--Website Title-->
            <a class="navbar-brand" asp-area="" asp-controller="Home" style="padding-left: 10px;" asp-action="Index">HealthCare</a>

            <!--Options-->
            <div class="navbar-collapse collapse d-sm-inline-flex text-center ps-5">

                <!--Search bar-->
                @if (!TempData["Active"].Equals("Home"))
                {
                    <form class="d-flex w-50 me-5" role="search" asp-controller="@TempData["Active"]" asp-action="Index">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="SearchString" required oninvalid="this.setCustomValidity(' ')" />
                        <button class="btn btn-outline-success" type="submit">Search</button>
                        <div class="invalid-feedback"></div>
                    </form>
                }
                <!--Identity-->
                @* <h3>Welcome @User.Identities.First().rm</h3> *@


            </div>

            <a class="navbar-brand text-end" asp-area="" asp-controller="Auth" asp-action="Logout">
                <i class='bx bx-log-out'></i>
            </a>
        </div>
    </nav>

</header>