@model HealthCare.MVC.Models.CustomerUpdateModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="County" class="control-label"></label>
                <input asp-for="County" class="form-control" />
                <span asp-validation-for="County" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HomePhone" class="control-label"></label>
                <input asp-for="HomePhone" class="form-control" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HomePage" class="control-label"></label>
                <input asp-for="HomePage" class="form-control" />
                <span asp-validation-for="HomePage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContactGender" class="control-label"></label>
                <input asp-for="ContactGender" class="form-control" />
                <span asp-validation-for="ContactGender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmployeeSize" class="control-label"></label>
                <input asp-for="EmployeeSize" class="form-control" />
                <span asp-validation-for="EmployeeSize" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CapitalSize" class="control-label"></label>
                <input asp-for="CapitalSize" class="form-control" />
                <span asp-validation-for="CapitalSize" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClassifyCode" class="control-label"></label>
                <input asp-for="ClassifyCode" class="form-control" />
                <span asp-validation-for="ClassifyCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BusinessType" class="control-label"></label>
                <input asp-for="BusinessType" class="form-control" />
                <span asp-validation-for="BusinessType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsMarried" class="control-label"></label>
                <input asp-for="IsMarried" class="form-control" />
                <span asp-validation-for="IsMarried" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HaveChildren" class="control-label"></label>
                <input asp-for="HaveChildren" class="form-control" />
                <span asp-validation-for="HaveChildren" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HomeOwner" class="control-label"></label>
                <input asp-for="HomeOwner" class="form-control" />
                <span asp-validation-for="HomeOwner" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="YearInBusiness" class="control-label"></label>
                <input asp-for="YearInBusiness" class="form-control" />
                <span asp-validation-for="YearInBusiness" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsSelfEmployed" class="control-label"></label>
                <input asp-for="IsSelfEmployed" class="form-control" />
                <span asp-validation-for="IsSelfEmployed" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DynamicInfo" class="control-label"></label>
                <input asp-for="DynamicInfo" class="form-control" />
                <span asp-validation-for="DynamicInfo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
